/* Default CSS */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Max width */

header > div, .content-main-footer {
  max-width: 960px;
  margin: 0 auto;
}

/***** body, header, h1 *****/

body {
  margin: 0;
}

header {
  background-color: #59A5D8;
  margin-bottom: 1.45rem;
}

header > div {
  padding: 1.45rem 1.0875rem;
}

h1 {
  margin: 0;
  line-height: 1.1;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/***** div for main and footer *****/

.content-main-footer {
  /* border: 2px dotted red; */
  padding: 0 1.0875rem 1.45rem;
}

/***** main *****/

.coin-search {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid #B0BEC5;
  padding: 10px 14px;
  width: 300px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.45rem;
  font-size: 16px;
  line-height: 1.5;
}

.coin-update {
  text-align: center;
  margin-bottom: 2rem;
}

button {
  background-color: #03A9F4;
  color: #FFF;
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.coin-container {
  border-bottom: 1px solid red;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
}

.coin-container > div {
  flex: 1 1 0;
  padding: 0.75rem;
}

.coin-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.coin {
  display: flex;
  align-items: center;
}

img {
  height: 32px;
  width: 32px;
  margin-right: 0.75rem;
}

.coin-name {
  display: flex;
}

.coin-name > :first-child {
  margin-right: 0.75rem;
}

.price-change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.change-pct {
  margin-left: 0.75rem;
}

.change-pct.green {
  color: #05B169;
}

.change-pct.red {
  color: #DF5F67;
}

.volume-cap-supply {
  display: flex;
}

.volume-cap-supply > div {
  flex: 1 1 0;
}

.volume-cap-supply p {
  text-align: end;
}

/***** footer *****/

footer {
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
  line-height: 1.5;
}

footer > a {
  color: #3273DC;
  text-decoration: none;
}
