:root {
  /* Material Design colors */
  --blue-gray-100: #CFD8DC; /* coin container border */
  --blue-gray-200: #B0BEC5; /* input border */
  --blue-gray-500: #607D8B; /* header background */

  /* coin container hover */
  --blue-white: #F8FAFD;

  /* Dark theme colors */
  --dark-background-color-dark: #121212;
  --dark-background-color-light: #282828;

  --dark-coin-hover-dark: #202020;
  --dark-coin-hover-light: #383838;

  --dark-header: #B0BEC5;
  --dark-header-font-color-dark: #121212;
  --dark-header-font-color-light: #282828;

  --dark-font-color: rgba(255, 255, 255, 90%);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Max width */

header > div, .content-main-footer {
  max-width: 960px;
  margin: 0 auto;
}

/***** dark theme *****/

.dark {
  background-color: var(--dark-background-color-light);
}

.dark header {
  background: var(--dark-header);
}

.dark h1 {
  color: var(--dark-header-font-color-light);
}

.dark .coin p, /* inside .coin-container */
.dark .price-change p:first-child, /* inside .coin-container */
.dark .volume-cap-supply p, /* inside .coin-container */
.dark .loading,
.dark .coin-update-button {
  color: var(--dark-font-color);
}

.dark .dark-mode-toggle {
  color: var(--dark-header-font-color-light);
}

.dark .coin-container:hover {
  background: var(--dark-coin-hover-light);
}

.dark footer {
  color: var(--dark-font-color);
}

.dark footer > a {
  color: var(--dark-font-color);
}

/***** body, header, h1 *****/

body {
  margin: 0;
}

header {
  background-color: var(--blue-gray-500);
  margin-bottom: 1.45rem;
}

header > div {
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  line-height: 1.1;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: inline;
}

h1:hover {
  cursor: pointer;
}

/***** div for main and footer *****/

.content-main-footer {
  /* border: 2px dotted red; */
  padding: 0 1.0875rem 1.45rem;
}

/***** main *****/

.coin-search {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid var(--blue-gray-200);
  padding: 10px 14px;
  width: 300px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.45rem;
  font-size: 16px;
  line-height: 1.5;
}

.coin-update {
  text-align: center;
  margin-bottom: 2rem;
}

.coin-update-button {
  background-color: #03A9F4;
  color: #FFF;
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  transition: background-color 0.2s ease;
}

.coin-update-button:hover {
  background-color: #039BE5;
  cursor: pointer;
}

.dark-mode-toggle {
  color: #FFF;
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}

.loading {
  color: var(--blue-gray-500);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.coin-container {
  border-bottom: 1px solid var(--blue-gray-100);
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
}

.coin-container:last-child {
  margin-bottom: -0.75rem;
}

.coin-container:hover {
  background-color: var(--blue-white);
}

.coin-container > div {
  flex: 1 1 0;
  padding: 0.75rem;
}

.coin-container p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
}

.coin {
  display: flex;
  align-items: center;
}

.coin > div > :last-child {
  text-transform: uppercase;
  font-weight: 300;
}

img {
  height: 32px;
  width: 32px;
  margin-right: 0.75rem;
}

.coin-name {
  display: flex;
}

.coin-name > :first-child {
  margin-right: 0.75rem;
}

.coin-name > :last-child {
  /* By default the symbol p tag won't display on smaller mobile screens. */
  display: none;
}

.price-change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.change-pct {
  margin-left: 0.75rem;
}

.change-pct.green {
  color: #05B169;
}

.change-pct.red {
  color: #DF5F67;
}

.volume-cap-supply {
  /* By default this div won't display on smaller mobile screens. */
  display: none;
}

.volume-cap-supply > div { /* Hidden when parent div hidden. */
  flex: 1 1 0;
}

.volume-cap-supply > div > :first-child { /* Hidden when parent div hidden. */
  font-weight: 300;
}

.volume-cap-supply p { /* Hidden when parent div hidden. */
  text-align: end;
}

/***** footer *****/

footer {
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
  line-height: 1.5;
}

footer > a {
  color: #3273DC;
  text-decoration: none;
}

/***** responsive web design for mobile first *****/

@media only screen and (min-width: 768px) {
  /* Show volume-cap-supply div when the screen is big. */
  .volume-cap-supply {
    display: flex;
  }

  /* On bigger screens center align the price and change percent p tags. */
  .price-change > p {
    flex: 1 1 0;
  }

  .price-change > :first-child {
    text-align: end;
  }
}

@media only screen and (min-width: 600px) {
  /* Show the symbol p tag when the screen is big. */
  .coin-name > :last-child {
    display: block;
  }
}
